/* HEADER */
.navbar-brand img {
    width: 60px;
    height: 60px;
}

/* MAIN */
/* Table */
.table.table-striped {
    vertical-align: middle;
}

thead tr th:not(:first-child){
    width: calc(50%/3);
}

table.table-striped .btn {
    white-space: nowrap;
}